body {
  color: #666;
  font-family:  'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1','\5b8b\4f53',sans-serif;
}

a {
  -webkit-transition: color .3s ease,background .3s ease;
  -moz-transition: color .3s ease,background .3s ease;
  -o-transition: color .3s ease,background .3s ease;
  transition: color .3s ease,background .3s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
}

.btn-primary {
  color: #fff !important;
  background: $button-primary-bg;
  border: 1px solid #15c288;
  &:hover {
    background-color: darken($button-primary-bg, 5%);
    border: 1px solid darken($button-primary-bg, 5%);
  }
}