body {
  color: #666;
  font-family:  'Hiragino Sans GB','\5FAE\8F6F\96C5\9ED1','\5b8b\4f53',sans-serif;
}

a {
  -webkit-transition: color .3s ease,background .3s ease;
  -moz-transition: color .3s ease,background .3s ease;
  -o-transition: color .3s ease,background .3s ease;
  transition: color .3s ease,background .3s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.btn-primary {
  color: #fff !important;
  background: $button-primary-bg;
  border: 1px solid #15c288;
  &:hover {
    background-color: darken($button-primary-bg, 5%);
    border: 1px solid darken($button-primary-bg, 5%);
  }
}

.transition {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.main {
  padding: 10px 0;
}

h3.main-title {
  margin-top: 0;
  padding-left: 15px;
}

.clear {
  clear: both;
}

.text-center{
  text-align: center;
}

.breadcrumb {
  background-color: #fff;
  margin-bottom: 5px;
  li {
    a {
      color: #bbb;
      font-size: 13px;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

.pagination {
  li {
    a {
      margin: 5px;
    }
  }
  .active {
    a {
      cursor: default;
      color: #fff;
      background-color: #46c37b;
      border-color: #34a263;
      &:hover {
        background-color: #46c37b;
        border-color: #34a263;
      }
    }
  }
}