@import "base";
.about {
  width: 80%;
  padding: 96px 0;
  margin: 0 auto;
  color: #525459;
  text-align: center;
  p {
    font-weight: normal;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 8px 0;
    text-align: center;
  }
  button {
    margin-top: 40px;
    background-color: $primaryColor;
    padding: 10px 70px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 6px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      opacity: .9;
      filter:alpha(opacity=90);
    }
  }
}
