@import "base";

.footer {
  background-color: #27292C;
  position: relative;
  padding-top: 16px;
  width: 100%;
  min-width: 1280px;
  clear: both;
  .f {
    margin: 0 auto;
    padding: 32px 80px 16px;
    div {
      display: inline-block;
      width: 20%;
      height: 192px;
      padding-top: 16px;
      margin-left: 6%;
      margin-right: 6%;
      vertical-align: top;
      color: #6d747e;
      h3 {
        color: #36AF6D;
        opacity: .9;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 4px;
        margin-left: 38px;
        margin-bottom: 32px;
      }
      p{
        margin-top: 12px;
        margin-left: 38px;
        font-size: 14px;
        letter-spacing: 1px;
        i {
          display: inline-block;
          width: 24px;
        }
      }
    }
  }
  .copy {
    height: 50px;
    padding-left: 182px;
    padding-top: 26px;
    background-color: #222326;
    text-align: left;
    font-size: 18px;
    color: #fff;
    small {
      display: inline-block;
      letter-spacing: 1px;
      margin-right: 54%;
      font-size: 14px;
      color: #6d747e;
      vertical-align: bottom;
    }
    p {
      display: inline-block;
      a {
        display: inline-block;
        width: 34px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 6px;
        text-align: center;
        margin-right: 16px;
        color: #fff;
        opacity: .7;
        filter:alpha(opacity=70);
        background-color: #36AF6D;
        &:hover {
          opacity: 1;
          filter:alpha(opacity=100);
        }
      }
    }
  }
}
