@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

main {
  display: block;
  background-image: url(../images/diagmonds.png);
  padding-top: 112px;
  padding-bottom: 72px; }
  main > div {
    margin-left: 13%; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

main {
  display: block;
  background-image: url(../images/diagmonds.png);
  padding-top: 112px;
  padding-bottom: 72px; }
  main > div {
    margin-left: 13%; }

#yunke-nav {
  background-color: #27292C;
  display: inline-block;
  border-radius: 6px;
  -webkit-border-radius: 6px; }
  #yunke-nav li {
    display: inline-block;
    background-color: #27292C; }
    #yunke-nav li:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    #yunke-nav li:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px; }
    #yunke-nav li:hover {
      background-color: #34434B; }
    #yunke-nav li a {
      display: inline-block;
      font-size: 14px;
      color: #fff;
      letter-spacing: 2px;
      padding: 8px 24px; }
  #yunke-nav li.now {
    background-color: #ED6345; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

main {
  display: block;
  background-image: url(../images/diagmonds.png);
  padding-top: 112px;
  padding-bottom: 72px; }
  main > div {
    margin-left: 13%; }

#video {
  margin-top: 4.5rem;
  overflow: hidden; }
  #video div {
    float: left;
    width: 280px;
    margin-right: 4rem;
    margin-bottom: 4rem;
    padding-bottom: .25rem;
    background-color: #34434B;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: hidden;
    text-align: left; }
    #video div a:hover {
      opacity: .8; }
    #video div a hr {
      width: 93%;
      margin: 2px auto;
      height: 1px;
      border: none;
      border-top: 1px solid #677a83;
      opacity: .9;
      clear: both; }
    #video div a img {
      width: 280px;
      height: 220px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
    #video div a p {
      padding: 8px 4px;
      display: inline-block;
      color: #fff;
      font-size: 14px; }
    #video div a p.title {
      margin-left: .5rem;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 3px; }
    #video div a p.author {
      color: #ACBEC5;
      letter-spacing: 1px;
      opacity: .8;
      float: right;
      font-size: 12px;
      margin-right: .5rem; }
    #video div a p.hot {
      margin-left: .75rem;
      font-size: 12px;
      color: #ACBEC5;
      padding: 4px 8px;
      margin-top: 6px;
      margin-bottom: 6px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      background-color: #3C4F57; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

main {
  display: block;
  background-image: url(../images/diagmonds.png);
  padding-top: 112px;
  padding-bottom: 72px; }
  main > div {
    margin-left: 13%; }

#video-list {
  margin-top: 72px;
  overflow: hidden; }
  #video-list div {
    float: left;
    width: 280px;
    margin-right: 64px;
    margin-bottom: 64px;
    padding-bottom: 4px;
    background-color: #34434B;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: hidden;
    text-align: left; }
    #video-list div a:hover img {
      opacity: .8;
      filter: alpha(opacity=50); }
    #video-list div a hr {
      width: 93%;
      margin: 2px auto;
      height: 1px;
      border: none;
      border-top: 1px solid #677a83;
      opacity: .9;
      filter: alpha(opacity=90);
      clear: both; }
    #video-list div a img {
      width: 280px;
      height: 220px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border: none; }
    #video-list div a p {
      padding: 8px 4px;
      display: inline-block;
      color: #fff;
      font-size: 14px; }
    #video-list div a p.title {
      margin-left: 8px;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 3px; }
    #video-list div a p.author {
      color: #ACBEC5;
      letter-spacing: 1px;
      opacity: .8;
      filter: alpha(opacity=80);
      float: right;
      font-size: 12px;
      margin-right: 8px; }
    #video-list div a p.hot {
      margin-left: 12px;
      font-size: 12px;
      color: #ACBEC5;
      padding: 4px 8px;
      margin-top: 6px;
      margin-bottom: 6px;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      background-color: #3C4F57; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

main {
  display: block;
  background-image: url(../images/diagmonds.png);
  padding-top: 112px;
  padding-bottom: 72px; }
  main > div {
    margin-left: 13%; }

#page {
  margin-top: 1rem; }
  #page a {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-color: #27292C;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px 0;
    text-align: center;
    width: 32px;
    margin-right: 5px; }
    #page a:hover {
      background-color: #34434B; }
  #page a.this {
    background-color: #ED6345; }
    #page a.this:hover {
      background-color: #ED6345; }
  #page a.pre {
    display: none; }
  #page span {
    color: #fff;
    display: inline-block;
    margin: 0 4px;
    letter-spacing: 2px; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'msyh';
  src: url("../fonts/msyh.ttf") format("truetype"), url("../fonts/msyh.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
#wapper {
  margin: 0 auto;
  min-width: 1280px; }

* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  font-size: 16px;
  font-family: 'msyh' !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 100%;
  position: relative; }

a,
a:link,
a:focus,
a:hover,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
  outline: none; }

li {
  list-style: none; }

main {
  display: block;
  background-image: url(../images/diagmonds.png);
  padding-top: 112px;
  padding-bottom: 72px; }
  main > div {
    margin-left: 13%; }

#back-top {
  position: fixed;
  display: none;
  width: 48px;
  height: 48px;
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  right: 30px;
  text-align: center;
  bottom: 28px;
  opacity: .7;
  z-index: 1000; }
  #back-top:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2); }
  #back-top a {
    color: #ED6345; }

/*# sourceMappingURL=yunke.css.map */
