@mixin change {
  animation: anm 0.5s ease forwards;
}
@keyframes anm{
  from {background-color: $inputColor;}
  to {background-color: $primaryColor;}
}
.default-border{               /*处理最简单的边框公共块*/
  border: $border;
}

#wapper {
  margin: 0 auto;
  min-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  position: relative;
}

li {
  list-style: none;
}
main{
  //background-image: url(../images/diagmonds.png);
  padding-top: 4rem;
  padding-bottom: 6rem;
  > div {
    margin-left: 13%;
    margin-right: 13%;
  }

}