.video-add {
  width: 360px;
  padding-bottom: 20px; }
  .video-add > .form-group,
  .video-add .select,
  .video-add .radio,
  .video-add .descibe,
  .video-add button {
    margin-left: 30px;
    margin-right: 30px; }
    .video-add > .form-group > span,
    .video-add .select > span,
    .video-add .radio > span,
    .video-add .descibe > span,
    .video-add button > span {
      font-weight: bold; }
  .video-add .form-info label {
    display: inline-block;
    margin-right: 16px; }
  .video-add .form-info input {
    display: inline-block;
    width: 65%; }
  .video-add .select div {
    margin-bottom: 16px; }
    .video-add .select div span {
      font-weight: bold;
      display: inline-block;
      margin-right: 16px; }
    .video-add .select div select.form-control {
      display: inline-block;
      width: 65%; }
  .video-add .radio {
    margin-bottom: 18px;
    margin-top: 18px; }
    .video-add .radio span {
      display: inline-block;
      margin-right: 16px; }
    .video-add .radio label {
      margin-right: 14px; }
  .video-add .inputFile {
    margin-bottom: 20px;
    margin-top: 20px; }
    .video-add .inputFile label, .video-add .inputFile input {
      display: inline-block; }
    .video-add .inputFile label {
      margin-right: 16px; }
    .video-add .inputFile input {
      width: 65%; }
    .video-add .inputFile .help-block {
      margin-left: 80px;
      font-size: 12px; }
  .video-add .descibe {
    margin-bottom: 16px; }
    .video-add .descibe span {
      display: block;
      margin-bottom: 6px; }
  .video-add .btn-course {
    letter-spacing: 2px;
    padding: auto 20px; }
