.not-found-content {
  background-color: #fff;
  width: 100%;
  padding-top: 100px;
  height: 580px;
  .not-found {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
      float: left;
      margin-top: -20px;
    }
    div {
      display: inline-block;
      h1 {
        margin-top: 40px;
        font-size: 120px;
        letter-spacing: 8px;
        font-weight: lighter;
      }
      p {
        margin-bottom: 20px;
        font-size: 16px;
      }
      .btn {
        padding: 4px 20px;
        letter-spacing: 2px;
      }
    }
  }
}
