@charset "UTF-8";

$primaryColor: #36AF6D;
$navColor: #222326;
$inputColor: #303032;

#wapper {
 margin: 0 auto;
 min-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  position: relative;
}
a,
a:link,
a:focus,
a:hover,
a:active,
a:visited{
  color: #fff;
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
