/////////////////////////////////简单的布局-----使用方法指定行列
.flex-row{
  display: flex;
  flex-flow: row;
}
.flex-col{
  display: flex;
  flex-flow: column;
}
.flex-display{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.flex-5{
  flex: 5;
}
.flex-6{
  flex: 6;
}
.flex-7{
  flex: 7;
}
.flex-8{
  flex: 8;
}
.flex-9{
  flex: 9;
}
.flex-10{
  flex: 10;
}
.flex-11{
  flex: 11;
}
.flex-12{
  flex: 12;
}