@import "base";

.footer {
  background-color: #27292C;
  position: relative;
  padding-top: 1rem;
  width: 100%;
  min-width: 1280px;
  .f {
    margin: 0 auto;
    padding: 2rem 5rem 1rem;
    div {
      display: inline-block;
      width: 20%;
      height: 12rem;
      padding-top: 1rem;
      margin-left: 8%;
      margin-right: 4%;
      vertical-align: top;
      color: #6d747e;
      h3 {
        color: #36AF6D;
        opacity: .9;
        font-size: 16px;
        letter-spacing: 4px;
        margin-left: 2.4rem;
        margin-bottom: 2rem;
      }
      p{
        margin-top: .75rem;
        margin-left: 2.4rem;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }
  .copy {
    height: 50px;
    padding-left: 13rem;
    padding-top: 26px;
    background-color: #222326;
    text-align: left;
    font-size: 1.125rem;
    color: #fff;
    small {
      display: inline-block;
      letter-spacing: 1px;
      margin-right: 56%;
      font-size: .75rem;
      color: #6d747e;
      vertical-align: bottom;
    }
    p {
      display: inline-block;
      a {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        text-align: center;
        margin-right: 1rem;
        color: #fff;
        opacity: .7;
        background-color: #36AF6D;
        i {
          vertical-align: bottom;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
