@import "beike-base";

  #searchresult {
    flex: 8;
    margin-left: 10px;
    @include font-deault;

    #result-nav {
      li {
        cursor: pointer;
        margin: 10px;
        display: inline-block;
        padding: 0.5rem;
        border-radius: 6px;
        &:hover {
          background-color: $a_active;
        }
        a {
          color: white;
        }
      }
      .now {
        background-color: $a_active;
      }
    }

    #result-sort {
      @include font-small;
      @include font-form;
      line-height: 3rem;
      height: 3rem;
      background-color: $a_default;

      .choose_i {
        color: $a_active;
      }
    }

    $underline_color: #677A83;
    .floor {
      .image-small {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
      }
      .first-message {
        padding: 1rem;
        border-right: 1px #eeeeee solid;
      }
      .second-message {
        padding: 1rem;
        .fa-star {
          color: $a_hover;
        }
        .fa-star-half-empty {
          color: $a_hover;
        }
      }
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    hr {
      color: $underline_color;
      width: 93%;
      margin: auto;
      align: center;
    }

    #page {
      float: right;
      clear: both;
    }

  }