@charset "utf-8";
$green:#2ecc71;
$deep_green:#2ECC71;
$blue:#3498DB;
$deep_blue:#2890B9;
$red:#e74c3c;
$deep_red:#c0392b;
$grey1:#ecf0f1;
$grey2:#bdc3c7;
$grey3:#95a5a6;
$grey4:#7f8c8d;
$grey5:#34495e;
$grey6:#2c3e50;
$bgcolor:rgb(240,240,240);
$contain:rgb(249,249,249);
$border_color:rgb(219,219,219);
$orange:#f88f55;

$font-color:#bbb;

.select-menu{
  color: white;
  .select {
    background-color: white;
    padding: 5px 10px;
    border: #ddd 1px solid;
    border-radius: 4px;
    font-size: 12px;

    li {            //处于同级
      list-style: none;
      padding: 10px 0 5px 100px;
    }

    .select-list {
      border-bottom: #eee 1px dashed;
    }

    dl {
      zoom: 1;
      position: relative;
      margin-bottom: 10px;
      //line-height: 24px;
      &:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        overflow: hidden;
      }

      dt {      //小标题
        width: 100px;
        margin-bottom: 5px;
        position: absolute;
        top: 0;
        left: -100px;
        text-align: right;
        color: #666;
        height: 24px;
        line-height: 24px;
      }
      dd {
        line-height: 24px;
        float: left;
        display: inline;
        margin: 0 0 5px 5px;
        a {
          display: inline-block;
          white-space: nowrap;
          height: 24px;
          padding: 0 10px;
          text-decoration: none;
          border-radius: 2px;
          &:hover {
            color: white;
            background-color: $green;
          }
        }
      }
    }

    .selected a {           //被选中的a标签
      color: #fff;
      background-color: $deep_green;
      cursor: default;
    }

  }

  .select-result{
    dt{
      font-weight: bold;
    }

    .select-no {
      color: #999;
    }
  }           //为最后一行

  //.select .select-result a {
  //  padding-right: 20px;
  //  background: $green url("../images/close.gif") right 9px no-repeat;
  //  &:hover {
  //    background-position: right -15px;
  //  }
  //}



}

.course {
  width: 100%;
  display: inline-block;
  text-align: center;
  .row {
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    .course-item {
      text-align: left;
      position: relative;
      box-shadow: 0 0 2px #8B8B8B;
      margin-bottom: 15px;
      &:hover {
        box-shadow: 0 0 10px $primaryColor;
        opacity: .9;
      }

      .course-thumb {
        position: relative;
        overflow: hidden;
        max-height: 180px;
        img {
          width: 100%;
          height:auto;
        }
      }
      .course-info {
        padding: 10px;
        position: absolute;
        bottom: 0;
        .title {
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 5px;
          font-weight: bold;
          height: 20px;
          text-overflow: ellipsis;
          word-break: break-all;
          overflow: hidden;
          a {
            color: #28282F;
          }
        }

        .desc {
          font-size: 12px;
          height: 34px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .addon {
          padding-top: 0;
          font-size: 13px;
          .free {
            color: #464646;
          }
          .author {
            color: #464646;
          }
        }
      }
    }
  }

}

.video-wrapper {
  background-color: black;
  width: 100%;
  .video {
    width: 850px;
    height: 420px;
    float: left;
    .video-js {
      width: 100%;
      height: 100%;
    }
  }
  .list {
    width: 280px;
    height: 420px;
    background: #2d2d2d;
    float: left;
    position: relative;
    .tabs {
      font-weight: normal;
      background: #1a1a1a;
      float: left;
      height: 45px;
      line-height: 45px;
      overflow: hidden;
      position: relative;
      a {
        float: left;
        padding: 0 30px;
        height: 45px;
        line-height: 45px;
        color: #8c8c8c;
        font-size: 16px;
      }
    }
    ul {
        width: 280px;
        margin: 0 auto;
        background: #1a1a1a;
        height: 375px;
        overflow-y: auto;
        float: left;
        scrollbar-track-color: #000;
        ::-webkit-scrollbar-track {
            background-color: #000;
        }
        li {
          border-bottom: 1px solid #222;
          a {
            padding: 10px 20px;
            display: block;
            height: 90px;
            &:hover {
              background-color: rgb(56,56,56);
              color: #8c8c8c;
            }
          }
        }
    }
    .related-item {
      .video-img {
        width: 100px;
        height: 68px;
        overflow: hidden;
        margin-right: 10px;
        float: left;
      }
      img {
        width: 120px;
        height: auto;
        background: #565656;
        float: left;
      }
      .video-title {
        display: block;
        font-size: 12px;
        color: #bababa;
        max-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .video-stat {
        font-size: 12px;
        line-height: 15px;
        font-style: normal;
        vertical-align: middle;
        i {
          margin: 5px;
        }
      }
    }
  }
  object {
    z-index: 101;
    position: relative;
  }
  object, img {
    background-color: #000;
    width: 660px;
    height: 505px;
    float: left;
    display: inline-block;
  }
}
