.course {
  .course-item {
    position: relative;
    border: 1px solid #ddd;
    .course-thumb {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height:auto;
      }
    }
    .course-info {
      padding: 10px;
      .title {
        font-size: 14px;
        color: #444;
        margin-bottom: 5px;
        font-weight: bold;
      }
      .desc {
        font-size: 12px;
        height: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .addon {
        padding-top: 5px;
        font-size: 13px;
        .free {
          color: #15c288;
        }
        .author {
          color: #999;
        }
      }
    }
  }
}