#adv-article {
  .floor {
    margin-top: 20px;
    padding: 20px 10px;
    border: 2px solid white;
    transition-duration: 0.5s;
    &:hover {
      border: 2px solid $link-hover-color;
    }
    img {
      width: 350px;
      height: auto;
    }
    .title {
      padding: 20px 0;
      a {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .decs {
      font-size: 16px;
      padding: 10px 0;
    }
    .time {
      font-size: 13px;
      padding: 10px 0;
      color: #999;
    }
  }
  .line {
    margin-top: 15px;
    margin-bottom: 0px;
    border-top: 1px dashed #ddd;
  }
}