.video-add {
  width: 360px;
  padding-bottom: 20px;
  > .form-group,
  .select,
  .radio,
  .descibe,
  button {
    margin-left: 30px;
    margin-right: 30px;
    > span {
      font-weight: bold;
    }
  }
  .form-info {
    label {
      display: inline-block;
      margin-right: 16px;
    }
    input {
      display: inline-block;
      width: 65%;
    }
  }
  .select {
    div {
      margin-bottom: 16px;
      span {
        font-weight: bold;
        display: inline-block;
        margin-right: 16px;
      }
      select.form-control {
        display: inline-block;
        width: 65%;
      }
    }

  }
  .radio {
    margin-bottom: 18px;
    margin-top: 18px;
    span {
      display: inline-block;
      margin-right: 16px;
    }
    label {
      margin-right: 14px;
    }
  }
  .inputFile {
    margin-bottom: 20px;
    margin-top: 20px;
    label,input {
      display: inline-block;
    }
    label {
      margin-right: 16px;
    }
    input {
      width: 65%;
    }
    .help-block {
      margin-left: 80px;
      font-size: 12px;
    }
  }
  .descibe {
    margin-bottom: 16px;
    span {
      display: block;
      margin-bottom: 6px;
    }
  }
  .btn-course {
    letter-spacing: 2px;
    padding: auto 20px;
  }
}
