.content .container-fluid .row {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 6px; }
  .content .container-fluid .row div {
    background-color: #fff; }
    .content .container-fluid .row div .table thead tr th:last-child {
      text-align: left; }
    .content .container-fluid .row div .table tbody tr td:last-child {
      text-align: left; }
      .content .container-fluid .row div .table tbody tr td:last-child .btn-primary {
        display: inline-block;
        margin-right: 10px;
        color: red; }
