// scaffolds
$link-color: #666;
$link-hover-color: #15c288;

$button-primary-bg: #15c288;

// header
$topmenu-background-color: #fff;
$topmenu-height: 50px;
$topmenu-fontsize: 16px;
$topmenu-brand-height: 40px;

// poster
$poster-height: 500px;

// ad
$ad-background-color: #fff;

// footer
$footer-background-color: #515151;
$footer-enhance-background-color: #515151;

// resources
$primaryColor: #36AF6D;
$navColor: #222326;
$inputColor: #303032;
$font-color:#666;
$border-color:lighten($font-color,40%);

$border:1px rgba(114, 114, 114, 0.75) solid;
$a_hover:#ED6345;
$a_active:#36AF6D;
$a_hover_little:#34434B;
$a_default:#27292C;

$minorColor: #ED6345;

//Comminue
$subject-span: #F3F3F3;

//Advisory
$ad_color: #666;
$adhove_color: #15c288;


//Advisory-hit
$border:1px solid #eee;
$blue_d:#3da9f7;
$blue_hover:#1F98D9;
$red_hover:#E6162D;
$green_hover:#15C286;
$text-area:#f3f7fb;

@mixin hove-time {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

//course
$green:#2ecc71;
$deep_green:#2ECC71;
$blue:#3498DB;
$deep_blue:#2890B9;
$red:#e74c3c;
$deep_red:#c0392b;
$grey1:#ecf0f1;
$grey2:#bdc3c7;
$grey3:#95a5a6;
$grey4:#7f8c8d;
$grey5:#34495e;
$grey6:#2c3e50;
$bgcolor:rgb(240,240,240);
$contain:rgb(249,249,249);
$border_color:rgb(219,219,219);
$orange:#f88f55;

$font-color:#bbb;