// scaffolds
$link-color: #666;
$link-hover-color: #15c288;

$button-primary-bg: #15c288;

// header
$topmenu-background-color: #fff;
$topmenu-height: 70px;
$topmenu-fontsize: 16px;
$topmenu-brand-height: 50px;

// poster
$poster-height: 400px;

// ad
$ad-background-color: #fff;

// footer
$footer-background-color: #515151;
$footer-enhance-background-color: #515151;

// resources
$primaryColor: #36AF6D;
$navColor: #222326;
$inputColor: #303032;
$font-color:#666;
$border-color:lighten($font-color,40%);

$border:1px rgba(114, 114, 114, 0.75) solid;
$a_hover:#ED6345;
$a_active:#36AF6D;
$a_hover_little:#34434B;
$a_default:#27292C;

$minorColor: #ED6345;

//advisory
$ad_color: #666;
$adhove_color: #15c288;