// scaffolds
$link-color: #666;
$link-hover-color: #15c288;

$button-primary-bg: #15c288;

// header
$topmenu-background-color: #fff;
$topmenu-height: 70px;
$topmenu-fontsize: 16px;
$topmenu-brand-height: 50px;

// poster
$poster-height: 400px;

// ad
$ad-background-color: #fff;

// footer
$footer-background-color: #515151;
$footer-enhance-background-color: #515151;

