.content-course {
  position: relative;
  min-height: 800px;
  background: #D9E0E7;
  margin-left: 240px;
  border-left: 1px solid #cccccc;
  padding: 40px 40px 20px 40px;
  .course-list,
  .video-add {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 40px;
    .dash-head {
      font-size: 14px;
      font-weight: bold;
      background-color: #2D353C;
      margin: 0;
      margin-bottom: 20px;
      padding: 12px 20px;
      letter-spacing: 2px;
      color: #fff;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }
  }
}
